@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200;700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FC0C0C;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;   
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    display: flex;
    text-decoration: none;
}

.apresentacao {
    margin: 8% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo__projetos {
    display: flex;
    flex-direction: column;
    gap: 4.47rem;
}

.projeto {
    display: flex;
    flex-direction: row; 
    gap: 1.25rem;
}

.projeto__imagem {
    width: 12.81rem;
    height: 15.75rem;
    border-radius: 0.5rem;
    
}

.apresentacao__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__subtitulo {
    font-family: var(--fonte-primaria);
    line-height: 2.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__projetos {
    border: 0.125rem solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 1.125rem;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 200;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    margin: 0.31rem;
    transition: all 0.3s ease;
}

.apresentacao__projetos:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
    transform: scale(1.1);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    height: 2.81rem;
    border-radius: 1.25rem;
    margin: 1.87rem;
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
