@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200;700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FC0C0C;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;   
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    display: flex;
    text-decoration: none;
}

.apresentacao {
    margin: 8% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo__projetos {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.projeto {
    display: flex;
    flex-direction: row; 
    gap: 20px;
}

.projeto__imagem {
    width: 205px;
    height: 252px;
    border-radius: 8px;
    
}

.apresentacao__paragrafo {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__subtitulo {
    font-family: var(--fonte-primaria);
    line-height: 40px;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__projetos {
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 18px;
    font-size: 16px;
    padding: 8px;
    font-weight: 200;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    margin: 5px;
    transition: all 0.3s ease;
}

.apresentacao__projetos:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
    transform: scale(1.1);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    height: 45px;
    border-radius: 20px;
    margin: 30px;
    font-family: var(--fonte-primaria);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
