@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200;700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FC0C0C;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;   
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    display: flex;
    text-decoration: none;
}

span{
    color: var(--cor-terciaria);
}

.apresentacao {
    margin: 8% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 38.43rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__projetos {
    display: flex;
    flex-direction: column;
    gap: 4.62rem;
}

.apresentacao__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}


.apresentacao__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.apresentacao__subtitulo {
    font-family: var(--fonte-primaria);
    line-height: 2.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__links{
    border: 0.12rem solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    width: 23.62rem;
    text-align: center;
    border-radius: 1.12rem;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    font-weight: 200;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    gap: 1rem;
    transition: all 0.3s ease;
}


.apresentacao__links__links:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
    transform: scale(1.1);  
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    height: 2.8rem;
    border-radius: 1.25rem;
    margin: 1.87rem;
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
